.DS_Store
_MACOSX/*
.vscode/*
.cursor/*
.joycode/*
localhost_5173-20250825T191532.json
node_modules/
/server/data/*
/server/logs/*
chronicle-deploy.sh
chronicle-frontend/.env.production
scripts/media_speed_test.sh
server/log/access.log
