.DS_Store
_MACOSX/*
.vscode/*
.cursor/*
.joycode/*
localhost_5173-20250825T191532.json
node_modules/
data/*
server/logs/*
server/log/*
packages/admin/.env.production
packages/admin/dist/server
packages/admin/dist/server/*
packages/template-astro/dist/*
scripts/media_speed_test.sh
.env
.claude
decrypt_post.js
